name: Release
  
on: 
    push:
      branches: ["release"]

env:
    LC_ALL:       en_US.UTF-8
    SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
    SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
    GRADLE_OPTS: -Dorg.gradle.parallel=false

jobs:
    build:
        name:     build on OpenJDK Linux
        runs-on:  ubuntu-latest
        steps:
        -   name: Git Checkout
            uses: actions/checkout@v6
        -   name: Gradle Wrapper Validation
            uses: gradle/wrapper-validation-action@v1
        -   name: Set up Java
            uses: actions/setup-java@v5
            with:
                distribution: zulu
                java-version: 17
        -   name: Build with Gradle and Local Broker
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            run: |
              chmod +x ./scripts/build.sh
              ./scripts/build.sh
        -   name: Set up Java
            uses: actions/setup-java@v5
            with:
                distribution: zulu
                java-version: 17
        -   name: Release OSGi Messaging Adapter
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            run: ./gradlew :in.bytehue.messaging.mqtt5.provider:release
